<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IotCoreWebSocketProxy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(74748994, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/74748994" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container float-left">
                <ul class="nav nav-tabs" id="mainTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" role="tab" asp-area="" asp-page="/Index">Trace device</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="traceRegistryTab" role="tab" asp-area="" asp-page="/TraceRegistry">Trace registry</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="sendDeviceTelemetryTab" role="tab" asp-area="" asp-page="/SendDeviceTelemetry">Device send</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="sendToRegistryTab" role="tab" asp-area="" asp-page="/SendToRegistry">Registry send</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="browseApiTab" role="tab" href="/swagger" target="_blank">Swagger</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="gitHubTab" role="tab" href="https://github.com/MaxKhlupnov/IotCoreWebSocketProxy" target="_blank">GitHub</a>
                    </li>
                </ul>
                <a class="navbar-brand" asp-area="" asp-page="https://cloud.yandex.com/docs/iot-core/" target="_blank">Yandex Cloud IotCore</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Max Khlupnov - <a href="https://github.com/MaxKhlupnov">About</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/signalr.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
