@page
@model IotCoreWebSocketProxy.Pages.SendTelemetryModel
@{
    ViewData["Title"] = "Send telemetry";
}
<h1>@ViewData["Title"]</h1>

<p>Work in progress.</p>

@section Scripts
{
    <script>
        $('#sendTelemetryTab').tab('show')
    </script>
}
