@page
@model IotCoreWebSocketProxy.Pages.SendCommandModel
@{
    ViewData["Title"] = "Send command";
}
<h1>@ViewData["Title"]</h1>

<p>Work in progress.</p>

@section Scripts
{
    <script>
        $('#sendCommandTab').tab('show')
    </script>
}
