@page
@model TraceRegistryModel
@{
    ViewData["Title"] = "Trace registry";
}
<h1>@ViewData["Title"]</h1>

<p>Work in progress.</p>

@section Scripts
{
    <script>
        $('#traceRegistryTab').tab('show')
    </script>
}

